<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.student.entity.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getList" resultType="com.example.student.entity.Student">
        select * from student
    </select>

    <select id="getStuCourseNum" resultType="com.example.student.vo.StudentVO">
        SELECT
            stu.id stuId,
            stu.name stuName,
            count(sc.co_id)  courseNum
        FROM
            student stu
            LEFT JOIN score sc ON sc.st_id = stu.id
            group by stu.id,stu.name
    </select>

    <select id="getStuScore" resultType="com.example.student.vo.StuScoreVO">
                SELECT
            st.id id,
            st.NAME name,
            max( CASE WHEN c.course = '语文' THEN s.score ELSE 0 END ) '语文',
            max( CASE WHEN c.course = '数学' THEN s.score ELSE 0 END ) '数学',
            max( CASE WHEN c.course = '英语' THEN s.score ELSE 0 END ) '英语'
        FROM
            score s
            LEFT JOIN course c ON s.co_id = c.id
            LEFT JOIN student st ON s.st_id = st.id
        GROUP BY
            st.id
    </select>
</mapper>
