<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.mapper.ZtOperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.student.entity.ZtOper">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="status" property="status" />
        <result column="revi_time" property="reviTime" />
        <result column="clos_time" property="closTime" />
    </resultMap>
    
    <select id="getOperByTaskId" resultMap="BaseResultMap">
        select * from zt_oper where task_id=#{taskId}
    </select>

</mapper>
