<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.mapper.ZtTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.student.entity.ZtTask">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="des" property="des" />
        <result column="revi" property="revi" />
        <result column="crea" property="crea" />
    </resultMap>
    
    <select id="getTaskById" resultMap="BaseResultMap">
        select * from zt_task where id=#{id}
    </select>

</mapper>
